<div class="place">
	<span>位置：</span>
	<ul class="placeul">
		<li><a href="/lckypc/login/toIndex.do">首页</a></li>
		<li>ad信息管理</li>
		<li>ad信息列表</li>
	</ul>
</div>
<div class="rightinfo">
	<div ng-app="" class="tools">
		<form class="toolbar">
		    <!-- 根据审核状态筛选ad信息 -->
		           请选择审核状态：
			<select class="dfselect" ng-model="ADSLimit.ad_state" ng-change="getAdListByST()" id="ad_state" style="width: 167px">
			   <option value="">全部</option>
			   <option value="0">未审核</option>
			   <option value="1">审核通过</option>	
			   <option value="2">驳回</option>	
            </select>
            <!-- 根据ad类型筛选ad信息 0招工，1旅游、2其他 -->
                               请选择ad类型：
            <select class="dfselect" ng-model="ADTLimit.ad_type" ng-change="getAdListByST()" id="ad_type" style="width: 167px">
			   <option value="">全部</option>
			   <option value="0">招工</option>
			   <option value="1">旅游</option>	
			   <option value="2">其他</option>	
            </select>
		</form>
	</div>
	<table class="tablelist">
		<thead>
			<tr>
				<th>编号</th>
				<th>标题</th>
				<th>内容</th>
				<th>类型</th>
				<th>审核状态</th>
				<th>联系人</th>
				<th>联系电话</th>
				<th>备注</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="ad in ads" id={{ad.ad_id}}>
				<td>{{$index + 1 }}</td>
				<td>{{ad.ad_title|cutString}}</td>
				<td>{{ad.ad_content|cutString}}</td>
				<td>{{ad.ad_type|findtype}}</td>
				<td>{{ad.ad_state|findstate}}</td>
				<td>{{ad.ad_name|cutString}}</td>
				<td>{{ad.ad_tel}}</td>
				<td>{{ad.ad_remark|cutString}}</td>
				<td><a ng-click="editState(ad.ad_state,ad.ad_id)" 
				       class="tablelink" >审核</a>
				    <a ng-click="getAdId(ad)"
				       class="tablelink">详情</a>
					<a ng-click="deleteAd(ad.ad_id)" 
					   class="tablelink">删除</a></td>
			</tr>
		</tbody>
	</table>
	<div  class="tcdPageCode">页码容器</div>
</div>

<!-- 审核模态框 1 -->
<div class="overlayer"></div>
<div class="tip" id="tipDel" style="height: 220px">
	<div class="tiptop">
		<span>提示信息</span><a></a>
	</div>
	<div class="tipinfo">
		<div class="tipright">
		<br>
		<p>请注意：信息审核或驳回后无法再次变更！</p>
		</div>
	</div>
	<div class="tipbtn">
		<input name="" type="button" class="sureSend" id="sureDel1" value="审核通过" />&nbsp;
		<input name="" type="button" class="sureSend" id="sureDel2" value="驳回" />&nbsp;
	</div>
</div>
<!-- 审核模态框 2 -->
<div class="overlayer"></div>
<div class="tip" id="tipDel2" style="height: 220px">
	<div class="tiptop">
		<span>提示信息</span><a></a>
	</div>
	<div class="tipinfo">
		<div class="tipright">
		<p>该信息已审核！无法再次变更！</p>
		</div>
	</div>
	<div class="tipbtn">
		<input name="" type="button" class="sureSend" id="sureDel" value="确定" />&nbsp;
	</div>
</div>
<!-- 删除模态框  -->
<div class="overlayer"></div>
<div class="tip" id="tipDel3" style="height: 220px">
	<div class="tiptop">
		<span>提示信息</span><a></a>
	</div>
	<div class="tipinfo">
		<div class="tipright">
		<p>是否确认对信息的删除 ？</p><br/>
		</div>
	</div>
	<div class="tipbtn">
		<input name="" type="button" class="sureSend" id="sureDel" value="确定" />&nbsp;
		<input name="" type="button" class="cancelSend" id="cancelDel" value="取消" />&nbsp;
	</div>
</div>