<div class="place">
	<span>位置：</span>
	<ul class="placeul">
		<li><a href="/lckypc/login/toIndex.do">首页</a></li>
		<li>班车预定信息管理</li>
		<li>添加班车预定信息</li>
	</ul>
</div>

<div class="formbody">
	
	<form ng-submit="addBusNeed()">
		<div class="formtitle">
			<span>班车信息</span>
		</div>

		<ul class="forminfo">
			<li><label>联系电话<b>*</b></label><input type="text"
				ng-model="busNeed.bune_tel" class="dfinput" required /></li>
			<li><label>乘车人数</label>  <input type="text" 
				ng-model="busNeed.bune_num" class="dfinput" required /> </li>
			<li><label>用车时长</label><input type="text" 
				ng-model="bune.bune_time" class="dfinput" required /></li>
			<li><label>集合时间<b>*</b></label><input type="text"
				ng-model="busNeed.bune_gath_time" class="dfinput" required/></li>
			<li><label>集合地点<b>*</b></label><input type="text"
				ng-model="busNeed.bune_gath_pla" class="dfinput"  required/></li>
			<li><label>目的地<b>*</b></label><input type="text"
				ng-model="busNeed.bune_goal_pla" class="dfinput"  required/></li>
			<li><label>包车用途<b>*</b></label><input type="text"
				ng-model="busNeed.bune_purp" class="dfinput"  required/></li>
				
			<li id="addBusNeed"><label>&nbsp;</label><input type="submit"
				class="btn" value="新建班车信息" /></li>
			
		</ul>
	</form>
</div>




