<div class="place">
	<span>位置：</span>
	<ul class="placeul">
		<li><a href="/lckypc/login/toIndex.do">首页</a></li>
		<li>班车预定信息管理</li>
		<li>补录班车预订信息</li>
	</ul>
</div>

<div class="formbody">

	<form ng-submit="repeatAddBusNeed()" >
		<div class="formtitle">
			<span>班车预订信息详情</span>
		</div>
		<table class="tbl tablelist" id="buneInformation">
			<tr>
				<td colspan='2' class="width15 text-center">预定人联系电话</td>
				<td colspan='2'>{{BusNeedPage.bune_tel}}</td>
				<td colspan='2' class="width15 text-center">目的地</td>
				<td colspan='2'>{{BusNeedPage.bune_goal_pla}}</td>
		
			</tr>
			<tr>
				<td colspan='2' class="width15 text-center">乘车人数</td>
				<td colspan='2'>{{BusNeedPage.bune_num}}</td>
				<td colspan='2' class="width15 text-center">用车时长（/天）</td>
				<td colspan='2'>{{BusNeedPage.bune_time}}</td>
			
			</tr>
			<tr>
				<td colspan='2' class="width15 text-center">集合时间</td>
				<td colspan='2'>{{BusNeedPage.bune_gath_time.time | dateType}}</td>
				<td colspan='2' class="width15 text-center">集合地点</td>
				<td colspan='2'>{{BusNeedPage.bune_gath_pla}}</td>
			
			</tr>
			<tr>
				<td colspan='2' class="width15 text-center">包车用途</td>
				<td colspan='6'>{{BusNeedPage.bune_purp}}</td>
			<!-- <td colspan='2'><input type="text"
					ng-model="busNeed.bune_purp" class="dfinput input_border" /></td> -->
				
			</tr>
			<tr>
				<td colspan='2' class="width15 text-center">备注</td>
				<td colspan='6'>{{BusNeedPage.bune_remark}}</td>
			</tr>
			<tr>
			<td colspan='2' class="width15 text-center">交易创建时间</td>
			<td colspan='6'><input type="text" name="busTradetime" required
					ng-model="BusNeedPage.butr_time" class="dfselect dateLayoutStyle"
					onFocus="WdatePicker(WdatePicker({minDate:'%y-%M-#{%d}',lang:'zh-cn',dateFmt:'yyyy-MM-dd',readOnly:'true',onpicked: function(){$(this).trigger('change')}})) " onChange="">
			</td> 			
			</tr>
			<tr>
				<td colspan='2' class="width15 text-center">押金(元)</td>
				<td colspan='2'><input type="text"
					ng-model="BusNeedPage.butr_depo" class="dfinput ng-pristine ng-valid" 
					onkeyup="changeTwoNum(this)"  required /></td>
				<td colspan='2' class="text-center">交易金额(元)</td>
				<td colspan='2'><input type="text"
					ng-model="BusNeedPage.butr_money" class="dfinput ng-pristine ng-valid"
					onkeyup="changeTwoNum(this)"  required /></td>
			</tr>
			<tr>
			<td colspan='2' class="width15 text-center">车牌号</td>
			<td colspan='2'><input type="text" ng-model="BusNeedPage.bune_bus" id="BusNeedPage.bune_bus" class="dfinput ng-pristine ng-valid" 
			 placeholder="格式：陕J90268" onchange="checkBusNumber(this)" required/></td></td>			
			
			<td colspan='2' class="width15 text-center">交易类型<label
					class="left_length5 text_style">*</label></td>
				<td colspan='2'><div class="div-checkbox">
						<input name="bune_type" type="radio" 
							ng-model="BusNeedPage.bune_type" value="1" />线下
					</div>
					<div class="div-checkbox">
						<input name="butr_type" type="radio" 
							ng-model="BusNeedPage.butr_type" value="0" />线上
					</div></td>
			</tr>
			<tr>
			
			<td colspan='2' class="width15 text-center">是否开发票<label
					class="left_length5 text_style">*</label></td>
				<td colspan='2'><div class="div-checkbox">
						<input name="invoice_if" type="radio" 
							ng-model="BusNeedPage.invoice_if" value="1" />已开
					</div>
					<div class="div-checkbox">
						<input name="invoice_if" type="radio" 
							ng-model="BusNeedPage.invoice_if" value="0" />未开
					</div></td>			
			<td colspan='2' class="width15 text-center">发票号</td>
			<td colspan='2'><input type="text"
					ng-model="BusNeedPage.invoice_num" class="dfinput ng-pristine ng-valid" /></td>
			</tr>
			<tr>
		
			<!-- <td colspan='2' class="width15 text-center">交易状态<label
					class="left_length5 text_style">*</label></td>
				<td colspan='2'><div class="div-checkbox">
						<input name="butr_state" type="radio" 
							ng-model="BusNeedPage.butr_state" value="1" />已交易
					</div>
					<div class="div-checkbox">
						<input name="butr_state" type="radio" 
							ng-model="BusNeedPage.butr_state" value="0" />待交易
					</div></td>		 -->
			</tr>
		</table>
	 <input type="submit" id="repeatAddBusNeed" class="btn" value="提交补录" /> 
	
	</form>
</div>

