<div class="place">
	<span>位置：</span>
	<ul class="placeul">
		<li><a href="/lckypc/login/toIndex.do">首页</a></li>
		<li>班车预定信息管理</li>
		<li>添加班车预定信息</li>
	</ul>
</div>

<div class="formbody">
	
	<form ng-submit="addBusTrade()">
		<div class="formtitle">
			<span>班车信息</span>
		</div>

		<ul class="forminfo">
			<li><label>交易创建时间<b>*</b></label><input type="text"
				ng-model="busTrade.butr_time" class="dfinput" required /></li>
			<li><label>押金</label>  <input type="text" 
				ng-model="busTrade.butr_depo" class="dfinput" required /> </li>
			<li><label>交易金额</label><input type="text" 
				ng-model="busTrade.butr_money" class="dfinput" required /></li>
			<li><label>车牌号<b>*</b></label><input type="text"
				ng-model="busTrade.bune_bus" class="dfinput" required/></li>
			<li><label>交易类型<b>*</b></label> <select class="dfselect"
				ng-model="busTrade.butr_type" required>
					<option value="0">线上</option>
					<option value="1">线下</option>
					</select></li>
				
			<li><label>是否开发票<b>*</b></label><select class="dfselect"
				ng-model="busTrade.invoice_if" required>
					<option value="0">未开</option>
					<option value="1">已开</option>
					</select></li>
			<li><label>发票号<b>*</b></label><input type="text"
				ng-model="busTrade.invoice_num" class="dfinput"  required/></li>
			<li><label>交易状态<b>*</b></label><select class="dfselect"
				ng-model="busTrade.invoice_if" required>
					<option value="0">交易中</option>
					<option value="1">交易结束</option>
					</select></li>
			<li id="addBusTrade"><label>&nbsp;</label><input type="submit"
				class="btn" value="新建班车信息" /></li>
			
		</ul>
	</form>
</div>




