<div class="place">
	<span>位置：</span>
	<ul class="placeul">
		<li><a href="/lckypc/login/toIndex.do">首页</a></li>
		<li>零担货运</li>
		<li>车辆信息列表</li>
	</ul>
</div>

<div class="rightinfo">
 
	<div ng-app="" class="tools">

		<form class="toolbar">
			<!-- 根据truckDriver状态筛选truckDriver信息 0未审核，1已审核 -->
			请选择车辆信息类型： <select class="dfselect"
				ng-model="trDLimit.trck_check"
				ng-change="getTruckDriverListByCheck()" id="trck_check"
				style="width: 167px">
				<option value="0">未审核</option>
				<option value="1">审核通过</option>
				<option value="2">审核未通过</option>
			</select>
		</form>
	</div>

	<table class="tablelist">
		<thead>
			<tr>
				<th>编号</th>
				<th>车牌号</th>
				<th>货车载重(kg)</th>
				<th>是否冷冻</th>
				<th>审核状态</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="truckDrSdNd in truckList" id={{truckDrSdNd.trck_id}}>
				<td>{{$index + 1 }}</td>
				<td>{{truckDrSdNd.trck_number}}</td>
				<td>{{truckDrSdNd.trck_load}}</td>
				<td>{{truckDrSdNd.is_freeze | freeze}}</td>
				<td>{{truckDrSdNd.trck_check | state}}</td>
				<td><a
					ng-click="checkTruck(truckDrSdNd.trck_check,truckDrSdNd.trck_id)"
					class="tablelink">详情审核</a> <a href="#truckList"
					ng-click="deleteTruck(truckDrSdNd.trck_id)" class="tablelink">
						删除</a></td>
			</tr>
		</tbody>
	</table>
	<div class="tcdPageCode">页码容器</div>

</div>
<!-- 审核模态框1 -->
<div class="overlayer"></div>
<div class="tip" id="tipDel" style="height: 240px; width: 300px;margin-top:230px;">
	<div class="tiptop ">
		<span>车辆信息详情</span><a></a>
		<!-- 这个a标签是模态框上的叉叉 -->
	</div>
	<div class="invorkInfo-div"style="margin-top:0px;">
		<fieldset style="width: 200px">

			<ul class="forminfo">
				<li><label>车牌号：</label>{{tr.trck_number}}</li>
				<li><label>货车载重：</label>{{tr.trck_load}}</li>
				<li><label>是否冷冻：</label>{{tr.is_freeze | freeze}}</li>
				<li><label>审核状态：</label>{{tr.trck_check | state}}</li>
			</ul>
		</fieldset>
	</div>
	<div class="tipbtn" style="margin-left: 80px">
		<input name="" type="button" class="sureSend" id="sureDel1"
			value="审核通过"
			style="height: 25px; width: 50px; font-size: 10px; line-height: 20px; margin-top: 5px;" />&nbsp;
		<input name="" type="button" class="sureSend" id="sureDel2"
			value="审核未通过"
			style="height: 25px; width: 70px; font-size: 10px; line-height: 20px; margin-top: 5px;" />&nbsp;
	</div>
</div>
<!-- 审核模态框 2 -->
<div class="overlayer"></div>
<div class="tip" id="tipDel2" style="height: 260px; width: 300px;margin-top:230px">
	<div class="tiptop">
		<span>车辆信息详情</span><a></a>
	</div>
	<div class="invorkInfo-div" style="margin-top:0px;">
		<fieldset style="width: 200px">

			<ul class="forminfo">
				<li><label>车牌号：</label>{{tr.trck_number}}</li>
				<li><label>货车载重：</label>{{tr.trck_load}}</li>
				<li><label>是否冷冻：</label>{{tr.is_freeze | freeze}}</li>
				<li><label>审核状态：</label>{{tr.trck_check | state}}</li>
			</ul>
		</fieldset>
	</div>
	<span style="padding-left: 75px; display: block">该信息已审核，无法更改</span>
	<div class="tipbtn">
		<input name="" type="button" class="sureSend" id="sureDel" value="确定"
			style="height: 25px; width: 50px; font-size: 10px; line-height: 20px;margin-top:10px;" />&nbsp;
	</div>
</div>
<!-- 删除模态框 -->
<div class="overlayer"></div>
<div class="tip" id="tipDel3" style="height: 160px; width: 260px;margin-top:230px;margin-left:-240px;">
	<div class="tiptop">
		<span>提示信息</span><a></a>
	</div>
	<div class="tipinfo"style="padding-top:10px;">
		<div class="tipright" style="padding-top: 0px;padding-left:0px;">
			<p>是否确认对信息的删除 ？</p>
			<cite>如果是请点击确定按钮 ，否则请点取消。</cite>
		</div>
	</div>

	<div class="tipbtn" style="margin-top:30px;margin-left:80px;">
		<input name="" type="button" class="sure" id="sureDel3" value="确定"
			style="height: 25px; width: 50px; font-size: 10px; line-height: 0px;" />&nbsp;
		<input name="" type="button" class="cancel" id="cancelDel" value="取消"
			style="height: 25px; width: 50px; font-size: 10px; line-height: 0px;" />&nbsp;
	</div>
</div>
<!-- 查看任务模态框完  -->


