<div class="place">
	<span>位置：</span>
	<ul class="placeul">
		<li><a href="/lckypc/login/toIndex.do">首页</a></li>
		<li>工作人员管理</li>
		<li>工作人员信息列表</li>
	</ul>
</div>

<div class="rightinfo">

	<div ng-app="woin" class="tools">

		<form class="toolbar">
			<input name="" type="text" class="dfinput" id="wName"
				ng-model="wName" placeholder="账号或姓名关键字" /> <input class="btn click"
				type="submit" value="查询" ng-click="selectWoinByName()">
		</form>

		<ul class="toolbar1" has-permission='WoinAdd'>
			<li class="click" ng-click="addNewWoin()"><a href=""><span><img
						src="../images/t01.png" /></span>新建</a></li>
		</ul>

	</div>

	<table class="tablelist">
		<thead>
			<tr>
				<th>编号</th>
				<th>账号</th>
				<th>姓名</th>				
				<th>角色</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="woin in workerInfos" id={{woin.woin_id}}>
				<td>{{$index + 1 }}</td>
				<td>{{woin.woin_num}}</td>
				<td>{{woin.woin_name}}</td>
				<td>{{woin.woin_permission}}</td>
				<td><a ng-click="editWoinBtn(this)" class="tablelink"
					has-permission='WoinEdit'> 修改</a><a href="#workerInfoList"
					ng-click="deleteWoin(woin.woin_id)" class="tablelink"
					has-permission='WoinDel'> 删除</a></td>
			</tr>
		</tbody>
	</table>
	<div class="tcdPageCode">页码容器</div>

</div>

<script type="text/javascript">
	$('.tablelist tbody tr:odd').addClass('odd');
</script>

<!-- 新建和修改模态框 -->
<div class="overlayer"></div>
<div class="tip" style="height: 500px; width: 540px">
	<div class="tiptop">
		<span>添加用户</span><a></a>
		<!-- 这个a标签是模态框上的叉叉 -->
	</div>
	<!-- 任务具体内容 -->
	<div class="formbody">
		<form id="addWoin-form" class="hidden">
			<ul class="forminfo">
				<li><label>用户账号<b>*</b></label><input type="text"
					name="woinNum" class="dfinput" ng-model="addingwoin.woin_num"
					id="mustInput" /> <span id="woinExistError" class="error-span">用户已存在</span>
					<span id="woinNumError" class="error-span">账号不能为空</span></li>
				<li><label>用户密码<b>*</b></label><input type="password"
					name="woinPwd" class="dfinput" ng-model="addingwoin.woin_pwd"
					id="mustInput" /> <span id="woinPwdError" class="error-span">密码不能少于6位</span></li>
				<li><label>用户姓名<b>*</b></label><input type="text"
					class="dfinput" name="woinName" ng-model="addingwoin.woin_name" />
					<span id="woinNameError" class="error-span">姓名不能为空</span></li>
				
				<li><label>用户角色<b>*</b></label>
					
						<input type="text"	class="dfinput" name="woinPermission" ng-model="addingwoin.woin_permission">
						<span id="woinPermissionError" class="error-span">角色不能为空</span></li>
							
			</ul>
			<!-- 按钮 -->
			<div class="tipbtn">
				<input type="button" class="sure sure1" value="确定" />&nbsp; <input
					name="" type="button" class="cancel" value="取消" />
			</div>
		</form>

		<form id="editWoin-form" class="hidden">

			<ul class="forminfo">
				<li><label>账号<b>*</b></label><input type="text" class="dfinput"
					ng-model="editWoin.woin_num" id="mustInput" /></li>
				<li><label>密码<b>*</b></label><input type="password"
					class="dfinput" ng-model="editWoin.woin_pwd" id="mustInput" /></li>
				<li><label>姓名<b>*</b></label><input type="text" class="dfinput"
					ng-model="editWoin.woin_name" /></li>
				
				<li><label>角色<b>*</b></label><input type="text" class="dfinput"
					ng-model="editWoin.woin_permission" /></li>
					
			</ul>
			<!-- 按钮 -->
			<div class="tipbtn">
				<input name="" type="button" class="sure sure2" value="确定"
					ng-click="" />&nbsp; <input name="" type="button" class="cancel"
					value="取消" />
			</div>
		</form>
	</div>
</div>
<!-- 新建和修改模态框完 -->
<script>
	$(function() {
		//验证账号是否存在
		var $woinNumInput = $('#addWoin-form input[name=woinNum]'), 
		$woinPwdInput = $('#addWoin-form input[name=woinPwd]'), 
		$woinNameInput = $('#addWoin-form input[name=woinName]'),
		$woinPerInput = $('#addWoin-form input[name=woinPer]')
		 
		 );
		$woinNumInput.blur(function() {
			console.log("账号改变了")
			$.get("/lckypc/wokerInfo/isWoinNumExist.do", {
				woinNum : $woinNumInput.val()
			}, function(data) {
				if (data) {
					$('#woinExistError').css('display', 'inline');
				}
			})
		})

		$woinNumInput.click(function() {
			$('#woinExistError').css('display', 'none');
			$('#woinNumError').css('display', 'none');
		})

		$woinPwdInput.click(function() {
			$('#woinPwdError').css('display', 'none');
		})
		$woinNameInput.click(function() {
			$('#woinNameError').css('display', 'none');
		})
		
		$woinNameInput.click(function() {
			$('#woinPerError').css('display', 'none');
		})
		
		
	})
</script>
