<div class="place">
	<span>位置：</span>
	<ul class="placeul">
		<li><a href="/CIMS/login/toIndex.do">首页</a></li>
		<li>用户管理</li>
		<li>角色列表</li>
	</ul>
</div>

<div class="rightinfo">

	<div class="tools">
		<ul class="toolbar1" has-permission='uRoleAdd'>
			<li class="click" ng-click="addNewRole()"><a href=""><span><img
						src="../images/t01.png" /></span>新建</a></li>
		</ul>

	</div>

	<table class="tablelist">
		<thead>
			<tr>
				<th>编号</th>
				<th>角色</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="role in roles">
				<td>{{$index + 1 }}</td>
				<td>{{role.role_name}}</td>
				<td><a href="#roleList" class="tablelink"
					ng-click="detailRoleBtn(this)">查看</a><a
					ng-click="editRoleBtn(this)" class="tablelink"
					has-permission='uRoleEdit'> 修改</a><a href="#roleList"
					class="tablelink" ng-click="deleteRole(role.role_id)"
					has-permission='uRoleDel'> 删除</a></td>
			</tr>
		</tbody>
	</table>
	<div class="tcdPageCode">页码容器</div>

</div>

<script type="text/javascript">
	$('.tablelist tbody tr:odd').addClass('odd');
</script>


<!-- 新建和修改模态框 -->

<div class="overlayer"></div>
<div class="tip" style="height: 570px; width: 780px">
	<div class="tiptop">
		<span>用户设置</span><a></a>
		<!-- 这个a标签是模态框上的叉叉 -->
	</div>
	<!-- 任务具体内容 -->
	<div class="formbody">
		<form id="addRole-form" ng-submit="addRole()" class="hidden">
			<ul class="forminfo">
				<li><label>角色名称<b>*</b></label><input type="text"
					class="dfinput" ng-model="addingRole.role_name" id="mustInput" /></li>
				<!-- ！！！下面这段代码别乱动 -->
				<!-- ！！！下面这段代码别乱动 -->
				<!-- ！！！下面这段代码别乱动 -->
				<li><table class="tablelist" style="width: 720px">
						<tr>
							<td style="width: 72px">旅游管理
							<td>
							<td><input class="con_per" name="0"
								ng-checked="isSelected('travel_per',0)"
								ng-click="updateSelection($event,'travel_per',0)"
								type="checkbox" />新建&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input
								class="con_per" name="1" ng-checked="isSelected('travel_per',1)"
								ng-click="updateSelection($event,'travel_per',1)"
								type="checkbox" />修改&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input
								class="con_per" name="2" ng-checked="isSelected('travel_per',2)"
								ng-click="updateSelection($event,'travel_per',2)"
								type="checkbox" />删除&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
						</tr>
						<tr>
							<td>班车预订
							<td>
							<td><input class="con_per" name="0"
								ng-checked="isSelected('busNeed_per',0)"
								ng-click="updateSelection($event,'busNeed_per',0)"
								type="checkbox" />补录&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input
								class="con_per" name="1"
								ng-checked="isSelected('busNeed_per',1)"
								ng-click="updateSelection($event,'busNeed_per',1)"
								type="checkbox" />删除&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
						</tr>
						<tr>
							<td>广告管理
							<td>
							<td><input class="con_per" name="0"
								ng-checked="isSelected('ad_per',0)"
								ng-click="updateSelection($event,'ad_per',0)" type="checkbox" />审核&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input
								class="con_per" name="1" ng-checked="isSelected('ad_per',1)"
								ng-click="updateSelection($event,'ad_per',1)" type="checkbox" />删除&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
						</tr>
						<tr>
							<td>小件管理
							<td>
							<td><input class="task_per" name="0"
								ng-checked="isSelected('smallGoods_per',0)"
								ng-click="updateSelection($event,'smallGoods_per',0)"
								type="checkbox" />补录&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input
								class="task_per" name="1"
								ng-checked="isSelected('smallGoods_per',1)"
								ng-click="updateSelection($event,'smallGoods_per',1)"
								type="checkbox" />删除&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
						</tr>
						<tr>
							<td>零担货运
							<td>
							<td><input class="bill_per" name="0"
								ng-checked="isSelected('truckLoad_per',0)"
								ng-click="updateSelection($event,'truckLoad_per',0)"
								type="checkbox" />审核&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input
								class="task_per" name="1"
								ng-checked="isSelected('truckLoad_per',1)"
								ng-click="updateSelection($event,'truckLoad_per',1)"
								type="checkbox" />删除&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
						</tr>
						<tr>
							<td>角色
							<td>
							<td><input class="system_per" name="0"
								ng-checked="isSelected('system_per',0)"
								ng-click="updateSelection($event,'system_per',0)"
								type="checkbox" />添加&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input
								class="system_per" name="1"
								ng-checked="isSelected('system_per',1)"
								ng-click="updateSelection($event,'system_per',1)"
								type="checkbox" />删除&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input
								class="system_per" name="2"
								ng-checked="isSelected('system_per',2)"
								ng-click="updateSelection($event,'system_per',2)"
								type="checkbox" />修改&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
						</tr>
						<tr>
							<td>用户
							<td>
							<td><input class="system_per" name="3"
								ng-checked="isSelected('system_per',3)"
								ng-click="updateSelection($event,'system_per',3)"
								type="checkbox" />添加&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input
								class="system_per" name="4"
								ng-checked="isSelected('system_per',4)"
								ng-click="updateSelection($event,'system_per',4)"
								type="checkbox" />删除&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input
								class="system_per" name="5"
								ng-checked="isSelected('system_per',5)"
								ng-click="updateSelection($event,'system_per',5)"
								type="checkbox" />修改&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
						</tr>

						<tr>
							<td>首页显示
							<td>
							<td><input class="index_per" name="0"
								ng-checked="isSelected('index_per',0)"
								ng-click="updateSelection($event,'index_per',0)" type="checkbox" />文书任务&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input
								class="index_per" name="1"
								ng-checked="isSelected('index_per',1)"
								ng-click="updateSelection($event,'index_per',1)" type="checkbox" />补录合同&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input
								class="index_per" name="2"
								ng-checked="isSelected('index_per',2)"
								ng-click="updateSelection($event,'index_per',2)" type="checkbox" />审核发票&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
						</tr>
						<tr>
							<td>左侧栏
							<td>
							<td><input class="left_per" name="0"
								ng-checked="isSelected('left_per',0)"
								ng-click="updateSelection($event,'left_per',0)" type="checkbox" />用户管理&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input
								class="left_per" name="1" ng-checked="isSelected('left_per',1)"
								ng-click="updateSelection($event,'left_per',1)" type="checkbox" />旅游管理&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input
								class="left_per" name="2" ng-checked="isSelected('left_per',2)"
								ng-click="updateSelection($event,'left_per',2)" type="checkbox" />班车预订管理&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input
								class="left_per" name="3" ng-checked="isSelected('left_per',3)"
								ng-click="updateSelection($event,'left_per',3)" type="checkbox" />广告管理&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input
								class="left_per" name="4" ng-checked="isSelected('left_per',4)"
								ng-click="updateSelection($event,'left_per',4)" type="checkbox" />小件管理&nbsp;&nbsp;&nbsp;&nbsp;<input
								class="left_per" name="5" ng-checked="isSelected('left_per',5)"
								ng-click="updateSelection($event,'left_per',5)" type="checkbox" />零担货运&nbsp;&nbsp;&nbsp;&nbsp;</td>
						</tr>
					</table></li>
			</ul>
			<!-- 按钮 -->
			<div class="tipbtn">
				<input name="" type="button" class="sure roleAdd" value="确定"
					ng-click="" />&nbsp; <input name="" type="button" class="cancel"
					value="取消" />
			</div>
		</form>

		<form id="editRole-form" class="hidden">

			<ul class="forminfo">
				<li><label>角色名称<b>*</b></label><input type="text"
					class="dfinput" ng-model="editRole.role_name" id="mustInput" /></li>
				<li><table class="tablelist" style="width: 720px">
						<tr>
							<td style="width: 72px">旅游管理
							<td>
							<td><input class="con_per" name="0"
								ng-checked="isSelected('travel_per',0)"
								ng-click="updateSelection($event,'travel_per',0)"
								type="checkbox" />新建&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input
								class="con_per" name="1" ng-checked="isSelected('travel_per',1)"
								ng-click="updateSelection($event,'travel_per',1)"
								type="checkbox" />修改&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input
								class="con_per" name="2" ng-checked="isSelected('travel_per',2)"
								ng-click="updateSelection($event,'travel_per',2)"
								type="checkbox" />删除&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
						</tr>
						<tr>
							<td>班车预订
							<td>
							<td><input class="con_per" name="0"
								ng-checked="isSelected('busNeed_per',0)"
								ng-click="updateSelection($event,'busNeed_per',0)"
								type="checkbox" />补录&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input
								class="con_per" name="1"
								ng-checked="isSelected('busNeed_per',1)"
								ng-click="updateSelection($event,'busNeed_per',1)"
								type="checkbox" />删除&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
						</tr>
						<tr>
							<td>广告管理
							<td>
							<td><input class="con_per" name="0"
								ng-checked="isSelected('ad_per',0)"
								ng-click="updateSelection($event,'ad_per',0)" type="checkbox" />审核&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input
								class="con_per" name="1" ng-checked="isSelected('ad_per',1)"
								ng-click="updateSelection($event,'ad_per',1)" type="checkbox" />删除&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
						</tr>
						<tr>
							<td>小件管理
							<td>
							<td><input class="task_per" name="0"
								ng-checked="isSelected('smallGoods_per',0)"
								ng-click="updateSelection($event,'smallGoods_per',0)"
								type="checkbox" />补录&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input
								class="task_per" name="1"
								ng-checked="isSelected('smallGoods_per',1)"
								ng-click="updateSelection($event,'smallGoods_per',1)"
								type="checkbox" />删除&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
						</tr>
						<tr>
							<td>零担货运
							<td>
							<td><input class="bill_per" name="0"
								ng-checked="isSelected('truckLoad_per',0)"
								ng-click="updateSelection($event,'truckLoad_per',0)"
								type="checkbox" />审核&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input
								class="task_per" name="1"
								ng-checked="isSelected('truckLoad_per',1)"
								ng-click="updateSelection($event,'truckLoad_per',1)"
								type="checkbox" />删除&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
						</tr>
						<tr>
							<td>角色
							<td>
							<td><input class="system_per" name="0"
								ng-checked="isSelected('system_per',0)"
								ng-click="updateSelection($event,'system_per',0)"
								type="checkbox" />添加&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input
								class="system_per" name="1"
								ng-checked="isSelected('system_per',1)"
								ng-click="updateSelection($event,'system_per',1)"
								type="checkbox" />删除&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input
								class="system_per" name="2"
								ng-checked="isSelected('system_per',2)"
								ng-click="updateSelection($event,'system_per',2)"
								type="checkbox" />修改&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
						</tr>
						<tr>
							<td>用户
							<td>
							<td><input class="system_per" name="3"
								ng-checked="isSelected('system_per',3)"
								ng-click="updateSelection($event,'system_per',3)"
								type="checkbox" />添加&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input
								class="system_per" name="4"
								ng-checked="isSelected('system_per',4)"
								ng-click="updateSelection($event,'system_per',4)"
								type="checkbox" />删除&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input
								class="system_per" name="5"
								ng-checked="isSelected('system_per',5)"
								ng-click="updateSelection($event,'system_per',5)"
								type="checkbox" />修改&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
						</tr>

						<tr>
							<td>首页显示
							<td>
							<td><input class="index_per" name="0"
								ng-checked="isSelected('index_per',0)"
								ng-click="updateSelection($event,'index_per',0)" type="checkbox" />文书任务&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input
								class="index_per" name="1"
								ng-checked="isSelected('index_per',1)"
								ng-click="updateSelection($event,'index_per',1)" type="checkbox" />补录合同&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input
								class="index_per" name="2"
								ng-checked="isSelected('index_per',2)"
								ng-click="updateSelection($event,'index_per',2)" type="checkbox" />审核发票&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
						</tr>
						<tr>
							<td>左侧栏
							<td>
							<td><input class="left_per" name="0"
								ng-checked="isSelected('left_per',0)"
								ng-click="updateSelection($event,'left_per',0)" type="checkbox" />用户管理&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input
								class="left_per" name="1" ng-checked="isSelected('left_per',1)"
								ng-click="updateSelection($event,'left_per',1)" type="checkbox" />旅游管理&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input
								class="left_per" name="2" ng-checked="isSelected('left_per',2)"
								ng-click="updateSelection($event,'left_per',2)" type="checkbox" />班车预订管理&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input
								class="left_per" name="3" ng-checked="isSelected('left_per',3)"
								ng-click="updateSelection($event,'left_per',3)" type="checkbox" />广告管理&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input
								class="left_per" name="4" ng-checked="isSelected('left_per',4)"
								ng-click="updateSelection($event,'left_per',4)" type="checkbox" />小件管理&nbsp;&nbsp;&nbsp;&nbsp;<input
								class="left_per" name="5" ng-checked="isSelected('left_per',5)"
								ng-click="updateSelection($event,'left_per',5)" type="checkbox" />零担货运&nbsp;&nbsp;&nbsp;&nbsp;</td>
						</tr>
					</table></li>
				</table>
				</li>
			</ul>
			<!-- 按钮 -->
			<div class="tipbtn">
				<input name="" type="button" class="sure roleEdit" value="确定"
					ng-click="" />&nbsp; <input name="" type="button" class="cancel"
					value="取消" />
			</div>
		</form>
	</div>
</div>
<!-- 新建和修改模态框完 -->



