<div class="place">
	<span>位置：</span>
	<ul class="placeul">
		<li><a href="/lckypc/login/toIndex.do">首页</a></li>
		<li>旅游信息管理</li>
		<li>旅游信息列表</li>
	</ul>
</div>

<div class="rightinfo">

	<div ng-app="" class="tools">

		<form class="toolbar">
			<input name="" type="text" class="dfinput" id="traTitle"
				ng-model="traTitle" placeholder="标题或旅游公司关键字" /> <input class="btn click"
				type="submit" value="查询" ng-click="selectTravelByTitle()">
		</form>

		<ul class="toolbar1" has-permission='tTravelAdd'>
			<li class="click" ng-click="addTravel()"><a href="#/travelAdd"><span><img
						src="../images/t01.png" /></span>新建</a></li>
		</ul>

	</div>

	<table class="tablelist">
		<thead>
			<tr>
				<th>编号</th>
				<th>标题</th>
				
				<th>成人票价格</th>
				<th>儿童票价格</th>
				
				<th>出发时间</th>
				<th>联系方式</th>
				<th>总人数</th>
				<th>剩余人数</th>
				<th>旅游承办公司</th>
				
				<th>操作</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="travel in travels" id={{travel.travel_id}}>
				<td>{{$index + 1 }}</td>
				<td><a class="underline" ng-click="checkTravel()" 
				ng-click="getTravelId(travel.travel_id)">{{travel.travel_title}}</a></td>
				<!-- <td>{{travel.travel_content |cutString}}</td>
				<td>{{travel.travel_route}}</td> -->
				<td>{{travel.travel_mprice |number:2}}</td>
				<td>{{travel.travel_cprice |number:2}}</td>
				<!-- <td>{{travel.travel_insurance |number:2}}</td>
				<td>{{travel.travel_discount |cutFloat}}</td> -->
				<td>{{travel.travel_stime.time | dateType}}</td>
				<!-- <td>{{travel.travel_location}}</td>
				<td>{{travel.travel_days}}</td> -->
				<td>{{travel.travel_tel}}</td>
				<td>{{travel.travel_total_num}}</td>
				<td>{{travel.travel_left_num}}</td>
				<td>{{travel.travel_firm}}</td>
				<td><a href="#checktravelTrade" ng-click="getTravelId(travel.travel_id)" class="tablelink">查看</a>
				<a href="#/travelUpdate" ng-click="getTravelId(travel.travel_id)"class="tablelink"	
				has-permission='tEdit'> 修改</a>
				<a href="#travelList" ng-click="deleteTravel(travel.travel_id)" class="tablelink"
					has-permission='tDel'> 删除</a></td>
			</tr>
		</tbody>
	</table>
	<div  class="tcdPageCode">页码容器</div>

</div>
<!-- 查看详情模态框 -->
<div class="overlayer"></div>
<div class="tip" id="tipCheck" style="height: 550px">
	<div class="tiptop text_right">
		<span>旅游信息详情</span><a></a>
		<!-- 这个a标签是模态框上的叉叉 -->
	</div>
	
	<div class="invorkInfo-div">
		<fieldset>
			
			<ul class="forminfo">
				<li><label>标题：</label>{{travel.travel_title}}</li>
				<li><label>路线：</label>{{travel.travel_route}}</li>
				<li><label>成人票价格：</label>{{travel.travel_mprice |number:2}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<label>儿童票价格：</label>{{travel.travel_cprice |number:2}}</li>
				<li><label>保险费：</label>{{travel.travel_insurance |number:2}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<label>折扣：</label>{{travel.travel_discount |number:2}}</li>
				<li><label>出发时间：</label>{{travel.travel_stime.time| dateType}}</li>
				<li><label>出发地点：</label>{{travel.travel_location}}</li>
				<li><label>游玩天数：</label>{{travel.travel_days}}</li>
				<li><label>联系电话：</label>{{travel.travel_tel}}</li>
				<li><label>总人数：</label>{{travel.travel_total_num}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<label>剩余人数：</label>{{travel.travel_left_num}}</li>
				<li><label>旅游承办公司：</label>{{travel.travel_firm}}</li>
				<li><div class="remark-div">活动描述：{{travel.travel_content|sgFilter}}</div></li>
			</ul>
		</fieldset>
	</div>
	
</div>
<!-- 模态框完 -->

<!-- 删除模态框 -->
				<div class="tip" id="tipDelTra"
					style="height: 160px; width: 260px; margin-top: 230px; margin-left: -120px;">
					<div class="tiptop">
						<span>提示信息</span><a></a>
					</div>
					<div class="tipinfo" style="padding-top: 10px;">
						<div class="tipright" style="padding-top: 0px; padding-left: 0px;">
							<label class="text_style">确定删除该信息？ </label>
							
						</div>
					</div>

					<div class="tipbtn" style="margin-top: 40px; margin-left: 120px;">
						<input name="" type="button" class="sure" id="sureDelTra" value="确定"
							style="height: 25px; width: 50px; font-size: 10px; line-height: 0px;" />&nbsp;
						<input name="" type="button" class="cancel" id="cancelDelTra"
							value="取消"
							style="height: 25px; width: 50px; font-size: 10px; line-height: 0px;" />&nbsp;
					</div>
				</div>
				<!-- 模态框完  -->