<div class="place">
	<span>位置：</span>
	<ul class="placeul">
		<li><a href="/lckypc/login/toIndex.do">首页</a></li>
		<li>旅游管理</li>
		<li>修改旅游信息</li>
	</ul>
</div>
<!-- 录入旅游信息 -->
<div class="formbody">
	
	<form ng-submit="updateTravel()">
		<div class="formtitle">
			<span>旅游信息</span>
		</div>

		<ul class="forminfo">
			<li><label>标题<b>*</b></label><input type="text"
				ng-model="travelInfo.travel_title" class="dfinput"  required /></li>
			<li><label>活动描述</label>
			<textarea ng-model="travelInfo.travel_content"  maxlength="130"
					class="textarea" /></textarea>  最多可输入130个汉字字符</li>
			<li><label>路线</label><input type="text"
				ng-model="travelInfo.travel_route" class="dfinput" /></li>
			<li><label>成人票价格<b>*</b></label><input type="text"
				ng-model="travelInfo.travel_mprice" class="dfinput"  onkeyup="changeTwoNum(this)" required/>(元)</li>
			<li><label>儿童票价格<b>*</b></label><input type="text"
				ng-model="travelInfo.travel_cprice" class="dfinput"  onkeyup="changeTwoNum(this)" required/>(元)</li>
			<li><label>保险费<b>*</b></label><input type="text"
				ng-model="travelInfo.travel_insurance" class="dfinput"  onkeyup="changeTwoNum(this)"  required/>(元)</li>
			<li><label>折扣</label><input type="text"
				ng-model="travelInfo.travel_discount" class="dfinput"  onkeyup="changeTwoNum(this)" 
					onchange="if(this.value.length>1){alert('请输入正确的折扣！');this.value='';}"
				required/>若无折扣则输入1；若打88折可输入0.88</li>
				<!-- onchange="this.value=this.value.replace(/^(\-)*(\d+)\.(\d\d).*$/,'$1$2.$3')"
				 onkeyup="this.value=this.value.replace(^\d+(\.\d{2})?$,'')" 
				onblur="this.value=this.value.replace(^\d+(\.\d{2})?$,'')" -->
			<li><label>出发日期</label><input type="text" name="travelstime" required
					ng-model="travelInfo.travel_stime" class="dfselect dateLayoutStyle"
					onFocus="WdatePicker(WdatePicker({minDate:'%y-%M-#{%d}',lang:'zh-cn',dateFmt:'yyyy-MM-dd',readOnly:'true',onpicked: function(){$(this).trigger('change')}})) " onChange=""></li>
			<li><label>出发地点</label><input type="text"
				ng-model="travelInfo.travel_location" class="dfinput" required/></li>
			<li><label>游玩天数<b>*</b></label><input type="text"
				ng-model="travelInfo.travel_days" class="dfinput" 
				 onkeyup="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}" required/></li>
				<!--  onafterpaste="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}" --> 
				
			<li><label>联系电话</label><input type="text" id="travelInfo.travel_tel"
				ng-model="travelInfo.travel_tel" class="dfinput" onchange="checkPhone(this)" required/></li>
			<li><label>总票数<b>*</b></label><input type="text" id="travelInfo.travel_total_num"
				ng-model="travelInfo.travel_total_num" class="dfinput" 
				 onkeyup="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}" required/></li>
			<li><label>剩余票数<b>*</b></label><input type="text" id="travelInfo.travel_left_num"
				ng-model="travelInfo.travel_left_num" class="dfinput" onchange="compare(this)" 
				 onkeyup="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}" required/></li>
			<li><label>旅游承办公司</label><input type="text"
				ng-model="travelInfo.travel_firm" class="dfinput" required/></li>
			
		
			<li><label>&nbsp;</label><input href="#travelList" type="submit" id="addTravel"
				class="btn" value="提交修改" /></li>
		</ul>
	</form>
</div>

