!Templates.html5.content!
<div class="place">
	<span>位置：</span>
	<ul class="placeul">
		<li><a href="/lckypc/login/toIndex.do">首页</a></li>
		<li>smgo管理</li>
		<li>smgo详情信息</li>
	</ul>
</div>
<!-- 录入smgo信息 -->
<div class="formbody">
	
	<form ng-submit="addEdit()">
		<div class="formtitle">
			<span>smgo信息</span>
		</div>

		<ul class="forminfo">
			<li><label>货物名称:<b>*</b></label>{{smgoInfo.smgo_name}}</li>
			<li><label>货物重量:</label>{{smgoInfo.smgo_weight}}</li>
			<li><label>始发地:</label>{{smgoInfo.smgo_start}}</li>
			<li><label>目的地:<b>*</b></label>{{smgoInfo.smgo_end}}</li>
			<li><label>发件人:<b>*</b></label>{{smgoInfo.smgo_sender}}</li>
			<li><label>发件人联系电话:<b>*</b></label>{{smgoInfo.smgo_sender_tel}}</li>
			<li><label>收件人:<b>*</b></label>{{smgoInfo.smgo_receiver}}</li>
			<li><label>收件人联系电话:<b>*</b></label>{{smgoInfo.smgo_receiver_tel}}</li>
			<li><label>交易金额:<b>*</b></label>{{smgoInfo.amgo_money}}</li>
			<li><label>交易时间:<b>*</b></label>{{smgoInfo.smgo_deal_time.time|dateType}}</li>
			<li><label>发件日期:<b>*</b></label>{{smgoInfo.smgo_send_time.time|dateType}}</li>
			<li><label>送货方式:<b>*</b></label>{{smgoInfo.smgo_sego|findSego}}</li>
			<li><label>送货地址:<b>*</b></label>{{smgoInfo.smgo_add}}</li>
			<li><label>备注:<b>*</b></label>{{smgoInfo.smgo_remark}}</li>
			<li><label>补录日期:<b>*</b></label><input type="text" name="edittime" required
					ng-model="smgoInfoss.edit_time" class="dfselect dateLayoutStyle"
					onFocus="WdatePicker(WdatePicker({lang:'zh-cn',dateFmt:'yyyy-MM-dd',readOnly:'true',onpicked: function(){$(this).trigger('change')}})) " onChange=""></li>
			<li><label>补录金额:<b>*</b></label><input type="text"
				ng-model="smgoInfoss.edit_price" class="dfinput"  onkeyup="this.value=this.value.replace(/^(\-)*(\d+)\.(\d\d).*$/,'$1$2.$3')" required/></li>
			<!-- <a href="#smgoList" class="tablelink" has-permission='tsmgoInfo'>提交补录</a></li> -->
			<li id="addEdit"><label>&nbsp;</label><input type="submit"
				class="btn" value="提交补录" /></li>
		</ul>
	</form>
</div>